.main-container {
  display: grid;
  grid-template:
    "nav header" min-content
    "nav main" 1fr / min-content 1fr;
  min-height: 100vh;
}

.header-container {
  grid-area: header;
  background-color: #272e48;
  box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-content-container {
  grid-area: main;
  overflow-x: hidden;
}

.main-content {
  padding: 1.5rem 1.5rem;
  min-height: 85vh;
  background-color: #f8f8f8;
}
