.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 2.4rem;
  background: linear-gradient(to bottom right, #222c31, #111d32);
  color: #d9e2f1;
}

.menu-icon-box {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu-icon {
  font-size: 2rem;
  color: #e9ecef;
  display: none;
  cursor: pointer;
}

.user-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #1967d2;
  overflow: hidden;
}

.user-icon-box img {
  width: 100%;
  height: 100%;
}

.user-initial {
  font-size: 2.2rem;
  font-weight: 300;
  color: #dff0ff;
}

@media (max-width: 92rem) {
  .icon {
    display: inline;
  }
}
